<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-searchbar
        [(ngModel)]="myInput">
    </ion-searchbar>

    <div padding>
        <button ion-button
                color="primary"
                (click)="searchUser()"
                block
                title="{{snapshot | async | json}}">
            SZUKAJ
        </button>
    </div>

    <ion-card *ngIf="showUser">
        <div *ngFor="let p of profiles | async ; let i = index">
            <div>
                <img [src]="p.img == null ? '' : p.img" alt="{{snapshot | async | json}}"/>
            </div>
            <ion-card-content>
                <ion-card-title>
                    <div left text-left>
                        <ion-icon name="contact"></ion-icon>
                        {{p.firstName}} {{p.lastName}}
                    </div>
                </ion-card-title>
                <ion-card-title>
                    <div left text-left>
                        <ion-icon name="copy"></ion-icon>
                        O mnie:
                        <div style="font-size: 70%;">
                            {{p.about}}
                        </div>
                    </div>
                </ion-card-title>
            </ion-card-content>
        </div>

    </ion-card>

    <ion-list>
        <ion-card *ngFor="let post of posts | async ; let i = index" title="{{posts | async | json}}">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="post.img">
                </ion-avatar>
                <h2>{{post.author}}</h2>
                <p>{{post.date | date }}</p>
            </ion-item>

            <ion-card-content>
                <p>{{post.content}}</p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <button ion-button icon-left clear small (click)="like(post, i)">
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{post.likes}}</div>
                    </button>
                    <button ion-button icon-left clear small (click)="dislike(post, i)">
                        <ion-icon name="thumbs-down"></ion-icon>
                        <div>{{post.dislikes}}</div>
                    </button>

                </ion-col>
                <!--<ion-col>-->
                <!--<button ion-button icon-left clear small>-->
                <!--<ion-icon name="text"></ion-icon>-->
                <!--<div>{{post.comments.length}}</div>-->
                <!--</button>-->
                <!--</ion-col>-->
            </ion-row>

        </ion-card>

    </ion-list>

</ion-content>
